BasedOnStyle: Google
Language: Cpp
Standard: Cpp11

ColumnLimit: 140

AccessModifierOffset: -4
IndentWidth: 4
UseTab: Never

AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializers: BeforeComma
IndentPPDirectives: AfterHash

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

ContinuationIndentWidth: 2
Cpp11BracedListStyle: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 1
PointerAlignment: Right
SortIncludes: false
SpaceBeforeParens: Never
SpaceBeforeAssignmentOperators: true
SpacesInContainerLiterals: false

AlignConsecutiveAssignments: true
